extends base.pug
block head
  script(type='text/javascript' src='{{ url_for("static", filename="js/back.js") }}' defer)
  link(rel='stylesheet' href='{{ url_for("static", filename="css/error.css") }}')

block content
  main
    .back
      img(src='{{ url_for("static", filename="assets/back.svg") }}' id='backButton')
    .error
      h1 This is a error-prone area. Let's get you back to safety!
    .image
      img(src='{{ url_for("static", filename="assets/chair.svg") }}')
      figcaption #[a(href='https://www.freepik.com/vectors/people') People vector created by stories - www.freepik.com]
