doctype html
html(lang='en' dir='ltr')

  head
    meta(charset='utf-8')
    title Hamming Messages 
    block head
  body
    | {% with messages = get_flashed_messages() %}
    | {% if messages %}
    | {% for message in messages %}
    | <p>{{ message }}</p>
    | {% endfor %}
    | {% endif %}
    | {% endwith %}
    block content
