extends base.pug
block head
  link(rel='stylesheet' href='{{ url_for("static", filename="css/form.css") }}')

block content
  main
    .signin
      | {% with messages = get_flashed_messages() %}
      | {% if messages %}
      | {% for message in messages %}
      | <p>{{ message }}</p>
      | {% endfor %}
      | {% endif %}
      | {% endwith %}
      form(method="POST")
        | {{ form.hidden_tag() }}
        fieldset
          legend Sign In
          | {{ form.email.label }}
          if form.email.errors
            | {{ form.email(class='is-invalid', placeholder='name@address.com') }}
            .invalid-feedback
              each error in form.email.errors
                p= error
          else
            | {{ form.email(placeholder='name@address.com') }}
          | {{ form.password.label }}
          if form.password.errors
            | {{ form.password(class='is-invalid', minlength='8') }}
            .invalid-feedback
              each error in form.password.errors
                p= error
          else
            | {{ form.password(placeholder='Enter your password', minlength='8') }}
        .submit
          | {{ form.submit }}
      .change-form
        small Need an account? #[a(href='{{ url_for("users.signup") }}') Sign Up]
    .image
      img(src='{{ url_for("static", filename="assets/couch-2.svg") }}')
      figcaption #[a(href='https://www.freepik.com/vectors/people') People vector created by stories - www.freepik.com]
