extends base.pug

block content
  form
    label(for='email') Email Address
    input(type='email' name='email' id='email' placeholder='name@email.com')
    label(for='password') Password
    input(type='password' name='password' id='password' placeholder='&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;')
    button(type='submit') Sign In
