extends base.pug
block head
  script(type='text/javascript' src='{{ url_for("static", filename="js/backWelcome.js") }}' defer)
  link(rel='stylesheet' href='{{ url_for("static", filename="css/form.css") }}')

block content
  main
    .back
      img(src='{{ url_for("static", filename="assets/back.svg") }}' id='backButton')
    .signup
      form(method="POST")
        | {{ form.hidden_tag() }}
        fieldset
          legend Sign Up
          | {{ form.username.label }}
          if form.username.errors
            | {{ form.username(class='is-invalid', placeholder='username') }}
            .invalid-feedback
              each error in form.username.errors
                p= error
          else
            | {{ form.username(placeholder='username') }}
          | {{ form.email.label }}
          if form.email.errors
            | {{ form.email(class='is-invalid', placeholder='name@address.com') }}
            .invalid-feedback
              each error in form.email.errors
                p= error
          else
            | {{ form.email(placeholder='name@address.com') }}
          | {{ form.password.label }}
          if form.password.errors
            | {{ form.password(class='is-invalid', placeholder='Enter your password', minlength='8') }}
            .invalid-feedback
              each error in form.password.errors
                p= error
          else
            | {{ form.password(placeholder='Enter your password', minlength='8') }}
        .submit
          | {{ form.submit }}
      .change-form
        small Already have an account? #[a(href='{{ url_for("users.signin") }}') Sign In]
    .image
      img(src='{{ url_for("static", filename="assets/couch-1.svg") }}')
      figcaption #[a(href='https://www.freepik.com/vectors/people') People vector created by stories - www.freepik.com]
