extends base.pug
block head
  link(rel='stylesheet' href='{{ url_for("static", filename="css/form.css") }}')

block content
  main
    .signin
      form(method="POST")
        | {{ form.hidden_tag() }}
        fieldset
          legend Sign In
          | {{ form.email.label }}
          if form.email.errors
            | {{ form.email(class='is-invalid') }}
            .invalid-feedback
              each error in form.email.errors
                p= error
          else
            | {{ form.email }}
          | {{ form.password.label }}
          if form.password.errors
            | {{ form.password(class='is-invalid') }}
            .invalid-feedback
              each error in form.password.errors
                p= error
          else
            | {{ form.password }}
        .submit
          | {{ form.submit }}
      .change-form
        small Need an account? #[a(href='{{ url_for("users.signup") }}') Sign Up]
    .image
      img(src='{{ url_for("static", filename="assets/couch-2.svg") }}')
      figcaption #[a(href='https://www.freepik.com/vectors/people') People vector created by stories - www.freepik.com]
