extends base.pug
block head
  script(type='text/javascript' src='{{ url_for("static", filename="js/welcome.js") }}' defer)
  link(rel='stylesheet' href='{{ url_for("static", filename="css/welcome.css") }}')

block content
  h1 Hamming Messages
  h5 Your gateway into error-correction
  .actions
    button(id='signin') Sign In
    button(id='signup') Sign Up
