extends base.pug
block head
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js")
  script(type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}" defer)

block content
  ul(id="messages")
  input(type="text" id="newMessage")
  button(type="button" id="sendButton") Send
